.sidebar{
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  margin-top: 0;
  padding-top: 20px;
  position: fixed;
  top: 0;
  padding-top: 75px;
  bottom: 0;
  padding-bottom: 135px;
}
.sidebar img{
  height: 24px;
}
.side-icon{
  font-family: Roboto,Arial;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
.side-button{
  cursor: pointer;
  border: none;
  background-color: white;
  margin: 0;
}
.side-button:hover{
  background-color: lightblue;
}
.side-icon p{
  font-size: 10px;
  margin-top: 6px;
  display: flex;
  justify-content: center;
}