
body{
  background-color: #f7f7f7;
  margin: 0;
  height: 100%;
}
.video{
  margin: 0px;
  padding-bottom: 20px;
  max-width: 360px;
  font-family: Roboto,arial;
  justify-content: center;
}
.content{
  margin-top: 20px;
  margin-left: 85px;
  margin-top: 85px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1%;
}
.vid-1{
  position: relative;
}
.timer{
  background-color: black;
  color: white;
  position: absolute;
  font-weight: bold;
  padding: 4px;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
}
@media (min-width: 850px) and (max-width: 1200px) {
 .content{
  grid-template-columns: 1fr 1fr 1fr;
 } 
}
 @media (min-width: 500px) and (max-width: 850px) {
 .content{
  grid-template-columns: 1fr 1fr;
 } 
}
 @media (max-width: 500px) {
 .content{
  grid-template-columns: 1fr;
 } 
}
.thumbnail-image{ 
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.video-description{
  display: flex;
  text-decoration: none;
  margin-top: 2%;
  
}
.avatar{
  padding: 2%;
  
}
.avatar a{
  cursor: pointer;
}
.avatar img{
  height: 36px;
  width: 36px;
  border-radius: 50%;
}
.description{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1%;
  overflow-wrap: break-word;
}
.description div{
  margin-top: 1%;
}
.video-heading{
  font-weight: bold;
  color: black;
}
.channel-name{
  color: grey;
}
.channel-name a{
  color: grey;
}
.description a{
  text-decoration: none;
  cursor: pointer;
}
.more{
  margin-top: 2%;
}
.more img{
  height: 22px;
  width: 22px;
}
.three-dot{
  cursor: pointer;
  background-color: #f7f7f7;
  border: none;
}
